# Application Environment Configurations
APP_NAME="Return Insight"
ENV=development
DEBUG=True
HOST=127.0.0.1
PORT=8000
DATABASE_URL=sqlite:///./return_insight.db
SECRET_KEY=supersecretkey_return_insight_2026_dev
